.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.hero img {
    margin-top: 100px;
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.hero h1 {
    text-align: center;
    width: 70%;
    height: 30px;
    font-weight: 600;

}

.hero h1 span {
    background: linear-gradient(267deg, orange 0%, rgb(220, 84, 208) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;



}

/* .hero p {
    text-align: center;
    width: 50%;
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;

} */

.hero-action {
    margin-top: 30px;

    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    font-weight: 500px;
    margin-bottom: 50px;
}

.hero-action .hero-connect {
    border-radius: 30px;
    background: linear-gradient(267deg, orange 0%, rgb(220, 84, 208) 100%);
    padding: 20px 40px;
    cursor: pointer;
}
.hero-action .hero-connect:hover{
    border: solid white 2px;
}


.hero-action .hero-resume {
    border-radius: 30px;
    padding: 20px 40px;
    border: solid white 2px;
    cursor: pointer;
}
.hero-action .hero-resume:hover{
    border: solid 2px rgb(221, 103, 213) ;
    /* background: linear-gradient(267deg, orange 0%, rgb(220, 84, 208) 100%); */
}
.hero-action p:hover{
    color:rgb(221, 103, 213) ;


}

