.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.contact-title{
    position: relative;
}

.contact-title h1{
    padding: 0px 30px;
    font-size:80px;
    font-weight: 600px;
}
.contact-title img{
        position: absolute;
        width: 200px;
        top: 0;
        bottom: 0;
        opacity: 0.8;
        z-index: -1;
    
    }
    .contact-secton{
        display: flex;
        gap: 150px;
        
    }
    .contact-left{
        
    }



