.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 80px;
    
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 20px;   

}
 
.nav-connect{
    padding: 10px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, orange 0%, rgb(220, 84, 208) 100%); 
    font-size: 20px;
    cursor: pointer;
}
.nav-connect:hover{
    transform: scale(1.06);
}
